{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Main</title>
	<style>
		img{width: 200px;}
		a,ul{color:inherit; text-decoration:none;}
	</style>
</head>
<body>
	<h2>Main</h2>
	<ul>
		<li><a href="/">HOME ></a></li><br>
		<li><a href="/board/blist/">게시판리스트 ></a></li><br>
		<li><a href="/admin/">Admin ></a></li><br>
	</ul>
	<img src="{% static 'images/a01.jpg' %}" alt=""><br>
	
</body>
</html>