<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h2>학생등록페이지</h2>
	<form action='' mathod='post' name='frm'>
		<label>이름</label>
		<input type='text' name='name'><br>
		<label>학과</label>
		<input type='text' name='major'><br>
		<label>학년</label>
		<input type='text' name='grade'><br>
		<label>나이</label>
		<input type='text' name='age'><br>
		<label>성별</label>
		<input type='text' name='gender'><br>
		<input type='submit' value='저장'>
		<input type='reset' value='취소'>
	</form>
	<br/>
	<br/>
	<label><a href='/'>HOME</a></label>
	
</body>
</html>