<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<title>학생수정</title>
	<style>
		*{margin:0; padding:0;}
		.main{margin:30px auto; text-align:center;}
		table,th,td{margin:30px auto;}
		table{width: 350px;}
		th{width: 100px; height:30px;}
		td{width: 250px; height:30px;}
		a{color:inherit;}
		select{width: 173px;}
		button{width: 160px; height: 42px; margin-top:10px; border:1px solid #ccc; border-radius:8px;}
	</style>
</head>
<body>
	<div class = 'main'>
		<h2>학생 수정</h2>
		<form action="{% url 'students:update' %}" method='post' name='wfrm'>
			{% csrf_token %}
			<table>
				<tr>
					<th>이름</th>
					<td><input type='hidden' id='name' name='name'></td>
					{{stu.name}}
				</tr>
				<tr>
					<th>학과</th>
					<td><input type='text' id='major' name='major' value='{{stu.major}}'></td>
				</tr>
				<tr>
					<th>학년</th>
					<td>
						<select id='grade' name='grade'>
							<option value='1'>1학년</option>
							<option value='2'>2학년</option>
							<option value='3'>3학년</option>
							<option value='4'>4학년</option>
						</select>							
					</td>
				</tr>
				<tr>
					<th>나이</th>
					<td><input type='text' id='age' name='age' value='{{stu.age}}'></td>
				</tr>
				<tr>
					<th>성별</th>
					<td>
						<input type='radio' id='male' name='gender' value='남자'>
						<label for='male'>남자</label>
						<input type='radio' id='female' name='gender' value='여자'>
						<label for='female'>여자</label>
					</td>
				</tr>
				<tr>
					<th>취미</th>
					<td>
						<input type='checkbox' id='game' name='hobby' value='게임'>
						<label for='game'>게임</label>
						<input type='checkbox' id='golf' name='hobby' value='골프'>
						<label for='golf'>골프</label>
						<input type='checkbox' id='swim' name='hobby' value='수영'>
						<label for='swim'>수영</label>
						<input type='checkbox' id='run' name='hobby' value='달리기'>
						<label for='run'>달리기</label>
					</td>
				</tr>
			</table>
			<button type='button' onclick='sbtn()'>수정</button>
			<button type='button' onclick='location.href="/"'>취소</button>
		</form>
	</div>
	<script>
		function sbtn(){
			if ($("#name").val().length<2){
				alert("이름은 두 글자 이상 입력하셔합니다.")
				return false;
			}
			alert('학생을 수정합니다.')
			
			// django views로 POST 전송
			//wfrm.submit()
		} 
		
	</script>

	
</body>
</html>