<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Main</title>
	<style>
		a{color:inherit; text-decoration:none;}
	</style>
</head>
<body>
	<h2>Main</h2>
	<h4>로그인을 하셔야 메뉴를 볼 수 있어요.</h4>
	<hr>
	<ul>
		<li><a href="/member/login/">로그인 ></a></li> <br>
	</ul>
	<ul>
		<li><a href="/">Home ></a></li> <br>
		<li><a href="/member/logout/">로그아웃 ></a></li> <br>
		<li><a href="/board/blist/">게시판 ></a></li> <br>
		<li><a href="admin/">Admin 관리자 ></a></li> <br>
	</ul>
	
</body>
</html>