<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Main</title>
	<style>
		a{color:inherit; cursor: pointer; text-decoration:none;}
	</style>
	<script>
		if ("{{lmsg}}" == '1'){
			alert("로그아웃이 되었습니다.")
		}
	</script>
</head>
<body>
	<h2>Main</h2>
	{% if not request.session.session_id %}
	<ul>
		<li><a href="/member/login/">로그인 ></a></li><br>
	</ul>
	{% else %}
	<ul>
		<li><a href="/">Home ></a></li><br>
		<li><a href="/member/logout/">로그아웃 ></a></li><br>
		<li><a href="/board/blist/">게시판 ></a></li><br>
		<li><a href="/member/login/">회원정보 ></a></li><br>
		<li><a href="/member/login/">회원리스트 ></a></li><br>
		<li><a href="admin/">Admin ></a></li><br>
	</ul>
	{% endif %}
</body>
</html>