<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>main</title>
	<style>
		a{color:inherit;}
	</style>
</head>
<body>
	<h2>Main</h2>
	<ul>
		<li><a href="/">HOME ></a></li><br>
		<li><a href="/member/login/">로그인 ></a></li><br>
		<li><a href="/member/login2/">로그인2 ></a></li><br>
		<li><a href="/member/product/">상품구매 ></a></li><br>
		<li><a href="/member/mlist/">회원 리스트 ></a></li><br>
		<li><a href="/member/m2/">회원 등록 ></a></li><br>
		<li><a href="/admin/">Admin ></a></li><br>
	</ul>
	
</body>
</html>